<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>league</title>
</head>
<body>

 <a href="/createleague" > Create new league </a>

    <br>

    <a href="/joinleague">Join league</a>

<br>
<br>
<a href="/leaguetable">View league leader board</a>

<br>
<br>

<a href="/myownleagues">View leagues that i am part of!</a>

<br>
<br>


    {% if leaguesda %}
    {% for keys,values in leaguesda.items() %}
        <form action="/myownleagues/{{ keys }}" method="POST">
        <h6>{{ keys }} : {{ values[0] }} :: {{ values[1] }} ---> </h6>
        <input type="submit" name="submit" value="submit" >
       </form>
    {% endfor %}
{% endif %}


</body>
</html>